body{

    color: #ffffff;
    --margin: 120px;
}

main{
    margin-left: var(--margin);
    margin-right: var(--margin);
}

a {
    color: rgb(0, 219, 0);
}

.blurred-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url('../images/Background.png'); 
    background-size: cover;  
    background-position: center;   
    background-repeat: no-repeat;

    filter: blur(15px);     

    transform: scale(1.1); 

    z-index: -1; 
}
 

 
@media screen and (max-width:700px){
    body{
        --margin:50px;
    }
}


.vertical-banner-right {
    position: fixed;   
    top: 0; 
    right: 0;       
    width: 160px;    
    height: 100vh;   
    z-index: 9999;     
    background-color: transparent;
    overflow: hidden; 
    display: flex;      
    align-items: center;
}

.vertical-banner-right img {
    width: 75%; 
    height: auto;  
}