<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../fragments/head.ejs') %>

        <meta name="description"
            content="Equip your firm with top quality merchandise, with the assurance of legality guaranteed by us and our partners.">
        <meta name="keywords"
            content="GotP, Guns of the Patriot, merchandise
                                   Sons of the Patriots, arms, showroom, buyback, investing, small arms, regime change">
        <title>Guns of the Patriot</title>
</head>

<body>
    <div id="watermark">Fratila Marius</div>

    <%- include('../fragments/header.ejs') %>

        <main>
            <div class="blurred-background"></div>
            <div class="vertical-banner-right">
                <img src="./resources/images/GameLogo.png" alt="banner">
            </div>
            <br>
            <br>
            <br>
            <div class="main-wrapper">

                <section id="welcome">
                    <hgroup>
                        <h2>Welcome</h2>
                        <p class="subtitle">About us...</p>
                    </hgroup>
                    <div class="intro-stock">
                        <div><i class="fa-solid fa-gear fa-spin"></i> Hardware</div>
                        <div>Human resources</div>
                        <div><i class="fa-solid fa-shield-halved"></i> Premium merchandise</div>
                        <div>Buyback programs</div>
                        <div>Investing</div>
                    </div>
                    <p class="intro quip">Remote regime change is now just a click away</p>
                    <div id="dv-presentation-1">
                        <div id="dv-presentation">
                            <a href="./resources/images/Patriot.png">
                                <picture>
                                    <source srcset="./resources/images/Patriot.png" media="(max-width:700px)" />
                                    <source srcset="./resources/images/Patriot.png" media="(max-width:1200px)" />
                                    <img class="exclude-scale" src="./resources/images/Patriot.png" alt="Patriot"
                                        width="350" height="350">
                                </picture>
                            </a>
                        </div>
                    </div>
                </section>

                <section id="Sale">
                    <h2>On Sale</h2>
                    <article>
                        <h3 class="title">Holiday special</h3>
                        <p><b>GotP</b> is offering <b>for a limited time only <s>10%</s> <ins>15%</ins></b> off of most
                            canned army surplus rations!</p>
                        <p><b>aforementioned deal only available in your local <abbr
                                    title="Guns of the Patriot">GotP</abbr>
                                showroom.</b></p>
                    </article>
                </section>

                <section id="events">
                    <h2>Events</h2>
                    <div class="table-responsive">
                        <table id="events-table">
                            <caption>Upcoming Global Events and Summits (2026)</caption>
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Location</th>
                                    <th>Theme</th>
                                    <th>Participation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1-2 Dec</td>
                                    <td rowspan="2">New York</td>
                                    <td>Summit on the current state of the world</td>
                                    <td><meter title="45000/50000" min="0" max="50000" low="10000" high="40000"
                                            value="45000"></meter></td>
                                </tr>
                                <tr>
                                    <td>5-6 Dec</td>
                                    <td>Private Auction for PMCs</td>
                                    <td><meter title="57000/100000" min="0" max="100000" low="10000" high="40000"
                                            value="57000"></meter></td>
                                </tr>
                                <tr>
                                    <td>10-12 Dec</td>
                                    <td>Rammstein</td>
                                    <td>Showcasing new technologies</td>
                                    <td><meter title="245235/578588" min="0" max="578588" low="100000" high="400000"
                                            value="245235"></meter></td>
                                </tr>
                                <tr>
                                    <td>15-16 Dec</td>
                                    <td>Outer Heaven</td>
                                    <td>Annual Shareholder Meeting</td>
                                    <td><meter title="245876/789678" min="0" max="789678" low="100000" high="400000"
                                            value="245876"></meter></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4"><i>* At least 1 purchase over 100000$ is a requirement for entry in
                                            any
                                            and
                                            all events.</i></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <br>
                    <h3>Detailed event timeline</h3>
                    <ul>
                        <li><time datetime="2026-12-01T09:00">December 1st, 09:00 AM</time>, <b>Summit on the current
                                state
                                of the world</b></li>
                        <li><time datetime="2026-12-05T18:30">December 5th, 06:30 PM</time>, <b>Private Auction for
                                PMCs</b>
                        </li>
                        <li><time datetime="2026-12-10T14:00">December 10th, 02:00 PM</time>, <b>Showcasing new
                                technologies</b></li>
                        <li><time datetime="2026-12-15T10:00">December 15th, 10:00 AM</time>, <b>Annual Shareholder
                                Meeting</b></li>
                    </ul>
                </section>

                <section id="announcement">
                    <h2>Announcements</h2>
                    <p><time datetime="2025-07-20">July 20th 2025</time> After many complaints related to QA, the
                        surplus
                        stock from the collapse of the Soviet Union is no longer available.</p>
                    <p><time datetime="2022-01-05">January 5th 2022</time> <strong> Covid restrictions are mostly over,
                            seminars will soon resume.</strong></p>
                    <blockquote>"We'll all be sons of the patriots now"</blockquote>
                </section>

                <div id="misc">
                    <section id="merchandise">
                        <h2>Merchandise on offer</h2>
                        <section>
                            <h3>Small arms</h3>
                            <ul>
                                <li>ammunition</li>
                                <li>rifles</li>
                                <li>launchers</li>
                            </ul>
                            <h3>Human resources</h3>
                            <ul>
                                <li>mercenaries</li>
                            </ul>
                            <h3>Tactical devices</h3>
                            <ul>
                                <li>large caliber ammunition</li>
                                <li>submarine</li>
                                <li><i>minuteman</i> strategic nuclear rocket</li>
                            </ul>
                        </section>
                    </section>
                    <section id="faq">
                        <h2>FAQ</h2>
                        <details>
                            <summary>What if the transaction is declined by the payment processor?</summary>
                            <p>We strongly recomend the use of cryptocurrencies.</p>
                        </details>
                        <details>
                            <summary>Is an assumtion of privacy for the buyer reasonable?</summary>
                            <p>We reserve the right to ignore the question; thank you!</p>
                        </details>
                    </section>
                    <section id="media-resources">
                        <h2>Resources and Documentation</h2>
                        <br>
                        <embed src="./resources/EULA.pdf" type="application/pdf" width="350" height="350"
                            style="border: 1px solid; border-radius: 8px;">
                        <br><br>
                        <p><a href="https://en.wikipedia.org/wiki/Private_military_company" target="_blank"
                                rel="noopener noreferrer">A brief paper on our mission</a>.</p>
                        <p>Nerds holding our financial margins back:<br>
                            <a
                                href="https://en.wikipedia.org/wiki/Private_military_company#UN_mercenary_report">UN_mercenary_report</a>
                        </p>
                        <p><a href="./resources/images/Patriot.png" download="GotPL.jpg">Download our logo</a>.</p>
                    </section>
                </div>

                <section id="Premium-systems">
                    <h2>Premium systems</h2>
                    <p>Take inspiration from the operations of some of our most reliable partners</p><br>

                    <div class="vid-container">
                        <iframe src="https://www.youtube.com/embed/tqhZt6rD07A?mute=1" name="vid"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>

                        <div class="vid-tabs">
                            <a href="https://www.youtube.com/embed/tqhZt6rD07A?mute=1" target="vid">Werewolf PMC</a>
                            <a href="https://www.youtube.com/embed/yjyw7aW1_JE?mute=1" target="vid">Raven Sword</a>
                            <a href="https://www.youtube.com/embed/y2AB8No_WWI?mute=1" target="vid">Praying Mantis</a>
                        </div>
                    </div>
                </section>

                <section id="drebin-algorithm">
                    <h2>Drebin Points (DP) Pricing</h2>
                    <p>"Eye Have You." Laundering biometric ID guns isn't cheap. The network calculates the DP cost
                        using
                        this decryption equation:</p>

                    <math xmlns="http://www.w3.org/1998/Math/MathML" display="block"
                        style="font-size: 1.2em; margin: 15px 0; background: rgba(0,0,0,0.5); padding: 15px; border-radius: 10px;">
                        <msub class="math-emph">
                            <mi class="math-lrg">Cost</mi>
                            <mrow>
                                <mi>D</mi>
                                <mi>P</mi>
                            </mrow>
                        </msub>
                        <mo>=</mo>
                        <mfrac class="math-i">
                            <mrow>
                                <munderover>
                                    <mo>∑</mo>
                                    <mrow>
                                        <mi>i</mi>
                                        <mo>=</mo>
                                        <mn>1</mn>
                                    </mrow>
                                    <mi>n</mi>
                                </munderover>
                                <mo>(</mo>
                                <msub>
                                    <mi>Sec</mi>
                                    <mi>i</mi>
                                </msub>
                                <mo>×</mo>
                                <mi>α</mi>
                                <mo>)</mo>
                            </mrow>
                            <msqrt>
                                <msup>
                                    <mi>T</mi>
                                    <mn>2</mn>
                                </msup>
                                <mo>+</mo>
                                <msup>
                                    <mi>D</mi>
                                    <mn>2</mn>
                                </msup>
                            </msqrt>
                        </mfrac>
                    </math>
                    <ul style="list-style-type: none; opacity: 0.8; font-size: 0.9em; padding:0;">
                        <li><b>Sec<sub>i</sub></b> = Security protocol encryption level</li>
                        <li><b>α</b> = War economy demand multiplier</li>
                        <li><b>T</b> = Server processing time</li>
                        <li><b>D</b> = Nanomachine degradation rate</li>
                    </ul>
                </section>

                <section id="static-gallery">
                    <h2>Gallery</h2>
                    <div id="gallery-grid">
                        <figure>
                            <div><img src="./resources/images/Tank.png" alt="Tank" usemap="#tankmap" width="100%"
                                    height="auto"></div>
                            <figcaption><i>T67</i> sold in a recent auction</figcaption>
                        </figure>
                    </div>
                    <map name="tankmap" id="tankmap">
                        <area shape="rect" coords="175,0,350,175" href="./resources/images/Tank.png" target="_blank">
                    </map>
                </section>

            </div>
        </main>
        <%- include('../fragments/footer.ejs') %>
</body>

</html>