<header>
    <div class="user-info-panel">
        <p>IP Address: <strong>
                <%= userIp %>
            </strong></p>
    </div>
    <h1>Guns of the Patriot</h1>



    <nav>
        <input type="checkbox" id="ch-menu">
        <label for="ch-menu" id="hamburger">
            <div class="hamburger-icon">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div> Menu
        </label>

        <ul class="menu">
            <li class="main-item">
                <a href="#"><i class="fa-solid fa-globe"></i> Catalogue</a>
                <ul class="submenu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/mission">Our Mission</a></li>
                    <li><a href="financing.html">Financing</a></li>
                    <li><a href="buyback.html">Buyback</a></li>
                    <li><a href="guidance.html">Guidance</a></li>
                </ul>
            </li>

            <li class="main-item">
                <a href="#"><i class="fa-solid fa-crosshairs"></i> See more..</a>
                <ul class="submenu">
                    <li><a href="#welcome">Welcome</a></li>
                    <li><a href="#Sale">On Sale</a></li>
                    <li><a href="#merchandise">Merchandise</a></li>
                    <li><a href="#events">Events</a></li>
                    <li><a href="#faq">FAQ</a></li>
                    <li><a href="#announcement">Announcements</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>